{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wave Bookclub</title>
        <link href="{% static 'bookclub/styles.css' %}" rel="stylesheet">
        <link href="{% static 'bookclub/favicon.ico' %}" rel="icon">
        <script src="{% static 'bookclub/books.js' %}"></script>
    </head>
    <body>
          <div id="main-view">
            <div class="main-left-part">
              <div class="navbar">
                <a class="link brandNeon" href="{% url 'index' %}">Reading List</a>
                <button id='history-link' class="link brandNeon" href="javascript:;">History</button>
              </div>

              <div id="search-field-container">
                <input type="text" class="searchField" placeholder="Search for books">
                <button class="searchBtn">Search</button>
              </div>

              <div class="upcoming-book-container book2show" data-isclassic= "{{up_book.year}}" 
              data-bookid="{{up_book.bookid}}" class="book2show">
              {% if up_book.bookid %}
                <h1 id="upcoming-title" class="book2show">{{up_book.title}}</h1>
                <h3 id="upcoming-autor" class="book2show">{{up_book.author}}, {{up_book.year}}</h3>
                <img id="upcoming-pic" src={{up_book.image_link}} class="book2show"></img>
                <div class="upcoming-container">
                  <div id="upcoming-date">Meeting date:</div>
                  <form class="add-date-container">
                    <input type="date" class="meetingField" style="display: none" required>
                    {% if not up_book.meeting_date %}
                    <button class="meetingBtn">Add date</button>
                    {% else %}
                    <div class="meeting-date">{{up_book.meeting_date}}</div>
                    {% endif %}
                  </form>
                </div>
                {% else %}
                <h1 id="upcoming-title">Select a book to read next</h1>
                {% endif %}
              </div>

              <div class="control-group">
                <img class="view-image" src="" alt="Book Cover">
                <button class="add-btn">To the Reading List</button>
                <div class="remove-btn-container">
                  <button class="remove-btn">Remove</button>
                  <div class="simple-text"></div>
                </div>
                <button class="next-btn">Next</button>
                <div class="rate-btn-container" style="display: none;">
                  <div class="upcom-text">Reading now</div>
                  <button class="rate-btn">Rate</button>
                </div>
              </div>

            </div>

            <div class="main-right-part">
              <button class="switch"></button>

              <table id="search-results" style="display: none;">
                <thead>
                  <tr id='search-head' class="clas-head">
                      <th>Book</th>
                      <th>Title</th>
                      <th>Author</th>
                  </tr>
                </thead>
                <tbody class="search-table">
                </tbody>
              </table>

              <div id="history-view" style="display: none;">
                <img src='static/bookclub/club2.png' style="width: 7vw; margin: 5px"></img>
                <table>
                  <thead>
                    <tr id='history-head' class="clas-head" data-table="history">
                        <th>Title</th>
                        <th>Author</th>
                        <th class="2 Up">Year</th>
                        <th class="3 Up">Country</th>
                        <th class="4 Up">Pages</th>
                        <th class="5 Up">Rating</th>
                    </tr>
                  </thead>
                  <tbody class="history-table">
                  </tbody>
                </table>
              </div>

              <table id="classicTable" data-table="clas">
                <thead>
                    <tr class="clas-head">
                        <th >Book</th>
                        <th>Author</th>
                        <th class="sortYear Up">Year</th>
                        <th>Country</th>
                        <th class="sortPages Up">Pages</th>
                    </tr>
                </thead>
                <tbody class="clas-table">
                </tbody>
              </table>

              <table id="modernTable" data-table="mod">
                <thead>
                    <tr class="mod-head">
                        <th>Book</th>
                        <th>Author</th>
                        <th class="sortYear Up">Year</th>
                        <th>Country</th>
                        <th class="sortPages Up">Pages</th>
                    </tr>
                </thead>
                <tbody class="mod-table">
                </tbody>
              </table>

              <!-- book information -->
              <div id="book-view" style="display: none;">

                <div class="book-info">
                  <div class="book-info-top">
                    <div>
                      <h1 class="view-title"></h1>
                      <h2 class="view-author"></h2>
                      <div class="view-pages"></div>
                    </div>
                    <button class="view-rating"></button>
                  </div>
                  <div class="view-desc"></div>
                </div>

                <div class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>

                    <div id="modaladd">
                      <h2 class="modal-text">Additional information:</h2>
                      <form class="modal-form-add">
                        <div>
                          <input type="number" class="searchField" id="year-input" placeholder="Year of publication" autofocus required>
                          <input type="text" class="searchField" id="country-input" placeholder="Country" required>
                        </div>
                        <input type="submit" class="modal-btn" value="Add">
                      </form>
                    </div>

                    <div id="modalremove">
                      <h2 class="modal-text">Remove book from reading list?</h2>
                      <form class="modal-form-remove">
                        <input type="submit" class="modal-btn" value="Remove">
                      </form>
                    </div>

                    <div id="modalrate">
                      <h2 class="modal-text">How good was this book?</h2>
                      <form class="modal-form-rate">
                        <input type="number" class="searchField rateField" id="rating-input" placeholder="Rating" min="0" max="10" step="0.1" autofocus required>
                        <input type="submit" class="searchBtn goodBtn" value="Rate">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='modal' id="load-screen">
            <img src='static/bookclub/gif4.gif' class="load-screen-gif"></img>
          </div>
</body>
</html>