{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wave Bookclub</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Exo+2:ital@1&family=Neucha&family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
        <link href="{% static 'bookclub/styles.css' %}" rel="stylesheet">
        <link href="{% static 'bookclub/favicon.ico' %}" rel="icon">
        <script type="module" src="{% static 'js/controller.js' %}"></script>
    </head>
    <body>
      {% if user.is_authenticated %}
        <input type="hidden" id="authenticated" value={{user.username}}>
      {% endif %}
      {% if message %}
        <button id="message" style="display: none;">{{message}}</button>
      {% endif %}

      <div class="enter-container">
        <div class="flex-container">
          {% if user.is_authenticated %} 
          <div class="name-text">{{user.username}} Bookclub</div>
          <button class="exit-btn">Logout</button>
          {% else %}
          <button class="enter-btn">Enter your Bookclub</button>
          {% endif %}
        </div>
      </div>
          <div id="main-view">
            <div class="main-left-part">
              <div class="navbar">
                <button id='reading-link' class="link brandNeon">Reading List</button>
                <button id='history-link' class="link brandNeon">History</button>
              </div>

              <div id="search-field-container">
                <form class="search-form">
                  <input type="text" class="searchField" placeholder="Search for books">
                  <button class="searchBtn">Search</button>
                </form>
                <div class="flex-column" id="searchInfo"></div>
              </div>

              <div class="upcoming-book-container dataContainer" data-year= "{{up_book.year}}" 
                data-bookid="{{up_book.bookid}}">
              </div>

              <div class="control-group">
                <img class="view-image" src="" alt="Book Cover" loading="lazy">
                <button class="add-btn">To the Reading List</button>
                <div class="remove-btn-container">
                  <button class="remove-btn">Remove</button>
                  <div class="simple-text">from the reading list</div>
                </div>
                <button class="next-btn">Next</button>
                <div class="rate-btn-container" style="display: none;">
                  <div class="upcom-text">Reading now</div>
                  <button class="rate-btn">Rate</button>
                </div>
              </div>

            </div>

            <div class="main-right-part">
              <div class="switch-container">
                <button class="switch"></button>
                <img src='{% static "bookclub/121.gif" %}' class="switch-back">
              </div>

              <div id="search-results" style="display: none;">
                <img src='{% static "bookclub/club2.png" %}' style="width: 7vw; margin: 5px"></img>
                <table>
                  <thead>
                    <tr id='search-head' class="clas-head">
                    </tr>
                  </thead>
                  <tbody class="search-table">
                  </tbody>
                </table>
              </div>

              <div id="history-view" style="display: none;">
                <img src='{% static "bookclub/club2.png" %}' style="width: 7vw; margin: 5px"></img>
                <table>
                  <thead>
                    <tr id='history-head' class="history-head">
                        <th class="cl0 Up">Title</th>
                        <th class="cl1 Up">Author</th>
                        <th class="cl2 Up">Year</th>
                        <th class="cl3 Up">Country</th>
                        <th class="cl4 Up">Pages</th>
                        <th class="cl5 Up">Rating</th>
                    </tr>
                  </thead>
                  <tbody class="history-table">
                  </tbody>
                </table>
              </div>

              <table id="classicTable">
                <thead>
                    <tr class="clas-head">
                        <th class="cl0 Up">Book</th>
                        <th class="cl1 Up">Author</th>
                        <th class="cl2 Up">Year</th>
                        <th class="cl3 Up">Country</th>
                        <th class="cl4 Up">Pages</th>
                    </tr>
                </thead>
                <tbody class="classic-table">
                </tbody>
              </table>

              <table id="modernTable">
                <thead>
                    <tr class="mod-head">
                        <th class="cl0 Up">Book</th>
                        <th class="cl1 Up">Author</th>
                        <th class="cl2 Up">Year</th>
                        <th class="cl3 Up">Country</th>
                        <th class="cl4 Up">Pages</th>
                    </tr>
                </thead>
                <tbody class="modern-table">
                </tbody>
              </table>

              <!-- book information -->
              <div id="book-view" style="display: none;">

                <div class="book-info">
                  <div class="book-info-top">
                    <div>
                      <h1 class="view-title"></h1>
                      <div class="book-info-top" style="gap:10px;">
                        <div>
                          <h2 class="view-author"></h2>
                          <div class="book-info-top" style="gap:10px;">
                            <div style="font-family: 'Playfair Display', serif; font-size: 2vh;">Pages:</div> <div class="view-pages"></div>
                          </div>
                        </div>
                        <button class="edit-btn">Edit</button>
                      </div>
                    </div>
                    <button class="view-rating"></button>
                  </div>
                  <div class="view-desc"></div>
                </div>
              </div>

            </div>
          </div>

          <div class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>

              <div id="modalenter">
                <h2 class="modal-text" id="register-text-header">Your bookclub:</h2>
                <form class="modal-form-enter" action="{% url 'login' %}" method="post">
                  {% csrf_token %}
                  <div>
                    <input type="text" class="searchField" name="club-name" placeholder="Club Name" required>
                    <input type="password" class="searchField" name="club-password" placeholder="Password" required>
                  </div>
                  <input type="submit" class="modal-btn" value="Enter">
                </form>
                <form class="modal-form-register" action="{% url 'register' %}" method="post">
                  {% csrf_token %}
                  <div>
                    <input type="text" class="searchField" name="register-name" placeholder="Club Name" required>
                    <input type="password" class="searchField" name="register-password" placeholder="Password" required>
                  </div>
                  <input type="submit" class="modal-btn" value="Register">
                </form>
                <div class="register-container">
                  <div class="simple-text" id="register-text" style="margin-right: 1vw;">Don't have a bookclub yet?</div>
                  <button class="register-link pagination-btn">Register</button>
                </div>
              </div>

              <div id="modaladd">
                <h2 class="modal-text">Additional information:</h2>
                <form class="modal-form-add">
                  <div>
                    <input type="number" class="searchField" id="year-input" placeholder="Year of publication" autofocus required>
                    <input type="text" class="searchField" id="country-input" list="countryList" placeholder="Country" required>
                    <datalist id="countryList"></datalist>
                  </div>
                  <input type="submit" class="modal-btn" value="Add">
                </form>
              </div>

              <div id="modalremove">
                <h2 class="modal-text">Remove book from reading list?</h2>
                <form class="modal-form-remove">
                  <input type="submit" class="modal-btn" value="Remove">
                </form>
              </div>

              <div id="modalrate">
                <h2 class="modal-text">How good was this book?</h2>
                <form class="modal-form-rate">
                  <input type="number" class="searchField rateField" id="rating-input" placeholder="Rating" min="0" max="10" step="0.1" autofocus required>
                  <input type="submit" class="searchBtn goodBtn" value="Rate">
                </form>
              </div>
            </div>
          </div>

          <div class='modal' id="load-screen">
            <img src='{% static "bookclub/gif4.gif" %}' class="load-screen-gif"></img>
          </div>

          <div id="modalmessage">
            <div class="message-text"></div>
          </div>
</body>
</html>