{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Book Club</title>
        <link href="{% static 'bookclub/styles.css' %}" rel="stylesheet">
        <link href="{% static 'bookclub/favicon.ico' %}" rel="icon">
        <script src="{% static 'bookclub/books.js' %}"></script>
    </head>
    <body>
        <nav class="navbar">
            <a class="brandNeon" href="{% url 'index' %}">Reading List</a>
            <a class="brandNeon" href="javascript:;">History</a>
        </nav>

          <hr>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>